{% extends 'ecomm/base.html' %}


{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Check Out page</h1>
                    <p class="lead fw-normal text-white-50 mb-0">please fill the required data </p>
                </div>
            </div>
        </header>

    <form method="post" >
                {% csrf_token %}
                     <section class="vh-100 ">
                      <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                              <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">

                                {{ form.as_p }}<br>

                                <br>
                           <a href="{% url 'clear_cart' %}" class="btn btn-primary">Place order</a>
                                      </div>
                            </div>
                          </div>
                        </div>
                      </div><br><br><br><br><br><br
                      ><br>
                          <br><br>
                          <br><br>
                          <br><br>
                          <br>
                    </section>
    </form>
<br>
<br>
<br>
<br>
<br>
{% endblock %}